.loginview_main{
   
}

.loginview_wrapper{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 4rem;
    padding-right: 4rem;
}

.loginview_item_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

    
    a{
        position: relative;
        display: inline-flex;
        width: 200px;
        height: 30px;

        span{
            box-sizing: border-box;
            display: block;
            overflow: hidden;
            width: initial;
            height: initial;
            background: none;
            opacity: 1;
            border: 0px;
            margin: 0px;
            padding: 0px;
            position: absolute;
            inset: 0px;                 //top, bot, left, right, 다주는거
            img{
                position: absolute;
                inset: 0px;
                box-sizing: border-box;
                padding: 0px;
                border: none;
                margin: auto;
                display: block;
                width: 0px;
                height: 0px;
                min-width: 100%;
                max-width: 100%;
                min-height: 100%;
                max-height: 100%;
            }
        }
    }
}


.loginview_info_wrapper{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 0 solid #f9f9f9;
    border-color: rgb(230 230 230);
    border-width: 1px;
    border-radius: 0.5rem;

    overflow: hidden;

    width: 450px;
    box-sizing: border-box;
    
}

.default_item_wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 500px;
}

.default_text{
    h2{
        span:nth-child(2){
            display: block;
        }
    }
}

.auto_login{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: flex-start;
    svg{
        display: inline-block;
    margin-right: 0.5rem;
    }

    span{
        font-weight: 600;
    font-size: .875rem;
    line-height: 1.25rem;
    display: inline-block;
    color: rgb(90 90 90);
    }
}

#auto-login{
    overflow: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    clip-path: circle(0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
}

.naver_button{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 0.625rem;
    font-size: .875rem;
    line-height: 1.25rem;
    height: 3rem;
    font-weight: 600;
    text-align: center;
    background-color: rgb(0 199 60);
    border-color: transparent;
    border-width: 0;
    border-radius: 0.375rem;
    cursor: pointer;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255 255 255);
    span{
        flex: 1 1 0%;
    }
}

.kakao_button{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 0.625rem;
    font-size: .875rem;
    line-height: 1.25rem;
    height: 3rem;
    font-weight: 600;
    text-align: center;
    background-color: rgb(254 229 0);
    border-color: transparent;
    border-width: 0;
    border-radius: 0.375rem;
    cursor: pointer;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    span{
        flex: 1 1 0%;
    }
}

.phone_button{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 0.625rem;
    font-size: .875rem;
    line-height: 1.25rem;
    height: 3rem;
    font-weight: 600;
    text-align: center;
    background-color: rgb(255 255 255);
    border-color: rgb(0 0 0);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.375rem;
    cursor: pointer;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    span{
        flex: 1 1 0%;
    }
}

.tip_text{
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

.ins_gap{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 1280px;
    width: auto;
}

// input[type="checkbox"] + label svg {

//         fill: #FFFFFF;
//         path:nth-child(0){
//             stroke: #9CA3AF;
//         }
//         path:nth-child(1){
//             stroke: #C2C6CE;
//         }

// }
  
//   input[type="checkbox"]:checked + label svg {
    
//         fill: #0DCC5A;
//         path:nth-child(0){
//             stroke: #0DCC5A;
//         }
//         path:nth-child(1){
//             stroke: #ffffff;
//         }

// }

// .auto_login{
//     background-image: url("data:image/svg+xml;utf8,<svg width='24' height='24' viewBox='0 0 24 24' fill='#FFFFFF' xmlns='http://www.w3.org/2000/svg' class='inline-block mr-2'><path d='M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z' stroke='#9CA3AF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'></path><path d='M16 9L10.5 14.5L8 12' stroke='#C2C6CE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'></path></svg>");
// }

// .auto_login:checked{
//     background-image: url("data:image/svg+xml;utf8,<svg width='24' height='24' viewBox='0 0 24 24' fill='#FFFFFF' xmlns='http://www.w3.org/2000/svg' class='inline-block mr-2'><path d='M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z' stroke='#9CA3AF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'></path><path d='M16 9L10.5 14.5L8 12' stroke='#C2C6CE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'></path></svg>");
// }


// .checkbox-input:checked + .checkbox span:first-child {
//     background: #0077ff;
//     border-color: #0077ff;
//     animation: zoom-in-out 0.3s ease;
//   }
  
//   .checkbox_input:checked + .checkbox_label svg {
//     fill: #0077ff;
//         // path:nth-child(0){
//         //     stroke: #0077ff;
//         // }
//         // path:nth-child(1){
//         //     stroke: #0077ff;
//         // }
//   }

.login_ing input[type=checkbox] {
    display: none;
}
  
.login_ing input[type=checkbox] + label .login_svg{
    // display: inline-block;
    // width: 18px;
    // height: 18px;
    // vertical-align: middle;
    // cursor: pointer;
    // background-size: cover;
    // margin-right: 5px;
    // svg{
        // padding-left: 100px;
        // background: url(../../components/svg/checkbox-inactive.svg) no-repeat;
        display: inline-block;
        margin-right: 0.5rem;
        fill:#FFFFFF;
        path:nth-child(1){
            stroke: #9CA3AF;
        }
        path:nth-child(2){
            stroke: #9CA3AF;
        }
    // }
}

.login_ing input[type=checkbox]:checked + label .login_svg{
    // width: 18px;
    // height: 18px;
    // background-size: cove;
    // svg{
        // padding-left: 100px;
        // background: url(../../components/svg/checkbox-active.svg) no-repeat;
        display: inline-block;
        margin-right: 0.5rem;
        fill:#0DCC5A;
        path:nth-child(1){
            stroke: #0DCC5A;
        }
        path:nth-child(2){
            stroke: #ffffff;
        }
    // }
}
