.footer_root{
    top: 160px;
    position: relative;
}



.footer_wrap_item{

    height: 500px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.top_footer{
    background-color: yellow;
    display: grid;
    height: 250px;
    
}

.bot_footer{
    background-color: blueviolet;
    display: grid;
    height: 250px;
    
}

