.main_root{
    top: 160px;
    position: relative;
    background-color: bisque;
    height: 2500px;
}

.main1{
    // padding-top: 90px;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: gold;
}