.main_root{
    // top: 160px;
    // position: relative;
    padding-top:205px;
    // background-color: bisque;
    // height: 2500px;
    flex-grow: 1;
}

.top_main{
    position: relative;
    max-width: 1280px;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    background-color: aqua;
    overflow: hidden;
    box-sizing: content-box;
}

.carousel_wrapper{
    height: 100%;
}
.bot_main{
    max-width: 1280px;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 1.25rem;
    margin-bottom: 6rem;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    background-color: yellowgreen;
}

.swiper {
    width: 100%;
    height: 100%;
}
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}