.main_root{
    // top: 160px;
    // position: relative;
    padding-top:160px;
    background-color: bisque;
    // height: 2500px;
    flex-grow: 1;
}

.main1{
    // padding-top: 90px;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 1000px;
    background-color: gold;
}